.App {
  height: 100vh;
  /*FIXME: not being displayd on netlify*/
  background-image: url("./pattern_leaves.png");
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  overflow: hidden;
}
